[mysqld]
default-authentication-plugin=mysql_native_password
innodb_buffer_pool_size=8G
innodb_log_file_size=1G
innodb_buffer_pool_instances=8
innodb_read_io_threads=16
sync_binlog=0
innodb_flush_method=O_DIRECT
slow_query_log=ON

[client]
password='secret'
